*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

.ha {
  color: hsl(237, 18%, 59%);
  color: hsl(345, 95%, 68%);

  color: hsl(0, 0%, 100%);
  color: hsl(236, 21%, 26%);
  color: hsl(235, 16%, 14%);
  color: hsl(234, 17%, 12%);
}
